html, body {
    background-color: #212529;
}
.menu-page-item{
    transition: transform 0.1s ease-in-out;
}
.menu-page-item:hover{
    transform: scale(1.1);
}
.leftBar{
    position:relative;
    margin-top: 68px;
}